PORT="port number"

SHOPIFY_API_KEY="shopify app api key"
SHOPIFY_API_SECRET="shopify app api secret"
SHOPIFY_SCOPES="scopes(write_products,read_content,etc...)"

HOST_NAME="dommain name only ex: hello.com"
HOST_SCHEMA="protocal schema ex: https,http"

NODE_ENV="node evn ex:developement,testing"

MONGODB_NAME= " monogdb database name"
MONGODB_URI="mongodb database connection url (local,cloud)"


CLOUDINARY_CLOUD_NAME="cloudinary cloud name for image upload"
CLOUDINARY_API_KEY="cloudinary api key"
CLOUDINARY_API_SECRET="cloudinary api secret"

SMTP_PASS="email app pass"
SMTP_USER="email address for sending emails"

IS_PAID_APP="boolean value,true or false"
